@import '../../../sass/base.scss';

.airport {
  background-color: var(--color-primary-light-2);
  max-width: 70%;
  margin: 3rem auto 2rem auto;
  padding: 10px 0;
  text-align: center;
  border-radius: 3rem;

  &__name {
    font-size: 4rem;
    margin: 0.7rem 0 0.3rem 0;

    span {
      font-size: 3rem;
    }
  }

  &__icao {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__icao-list {
    font-size: 2.1rem;
  }

  &__latlong {
    width: 50%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--color-grey-dark-3);

    .latitude,
    .longitude {
      font-size: 1.8rem;
      margin-right: 1.7rem;
    }
  }

  &__runways {
    width: 50%;
    margin: 1.7rem auto;
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .runways-title {
      font-weight: 500;
    }

    .runway {
      font-weight: 400;
    }
  }
}
