@import '../../../sass/base.scss';

.conditions {
  max-width: 80%;
  margin: 30px auto;
  text-align: center;
  font-size: 1.6rem;

  &__title {
    font-weight: 500;
    font-size: 2.6rem;
    margin: 3.2rem;
  }

  &__weather {
    width: 89%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    &__card {
      height: 20rem;
      margin-bottom: 20px;
      border: 0.25px solid var(--color-primary-light);
      border-radius: 2rem;
      flex: 0 0 30%;
      box-shadow: var(--card-shadow);
    }
  }
}
